.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--background-footer);
}

.footer {
  .container {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
    }
  }
}

.contacts-container {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    width: 50%;
  }

  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    width: 231px;
    margin-right: 70px;
  }
}

.footer {
  .logo {
    margin-bottom: 20px;
  }
}

.logo-footer {
  color: var(--color-logo-footer);
}

.address__list {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.address__item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__map {
  font-style: normal;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--color-logo-footer);
}

.address__link {
  font-style: normal;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--color-footer-link);

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--color-accent);
  }
}

.social-container {
  @media screen and(max-width:1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    width: 50%;
  }

  @media screen and (min-width: 1200px) {
    width: 206px;
  }
}

.social-container__title {
  margin-bottom: 20px;

  font-size: inherit;
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-logo-footer);
}

.social-container__list {
  display: flex;
  justify-content: space-between;
  width: 206px;
}

.social-container__item {
  width: 44px;
  height: 44px;
}

.social-container__link {
  background-color: var(--color-footer-social-link);

  transition: background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--color-accent);
  }

  .social-icon {
    fill: var(--color-logo-footer);
  }
}

.form-container {
  @media screen and (max-width: 1199px) {
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

.form-container__title {
  margin-bottom: 20px;

  font-size: inherit;
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-logo-footer);

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer-form {
  display: flex;

  @media screen and (max-width: 1199px) {
    flex-direction: column;
    align-items: center;
  }
}

.footer-form__input {
  padding-left: 12px;
  width: 100%;
  height: 50px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--color-logo-footer);

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--color-footer-link);
  }

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
  }
}

.footer-form__btn {
  display: flex;
  align-items: center;
  padding: 10px 28px;

  background: var(--color-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background: #188ce8;
  }
}

.footer-form__btn-desc {
  margin-right: 10px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--color-logo-footer);
}

.send-icon {
  width: 24px;
  height: 24px;
  fill: var(--color-logo-footer);
}
