.header {
  border-bottom: 1px solid #ececec;
}

.header {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.header {
  .logo {
    padding-top: 24px;
    padding-bottom: 24px;

    @media screen and (min-width: 768px) {
      margin-right: 88px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 93px;
    }
  }
}

.logo-header {
  color: var(--color-logo-header);
}

.nav__list {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.nav__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--color-main);

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--color-accent);
  }

  &::before {
    content: "";
    @include position($bottom: 0, $height: 4px);

    background-color: var(--color-accent);
    border-radius: 2px;

    transform-origin: left;
    transform: scaleX(0);

    transition: transform 250ms var(--timing-function);
  }

  &:hover::before,
  &:focus::before {
    transform: scaleX(1);
  }

  &--current {
    color: var(--color-accent);

    &::before {
      content: "";
      @include position($bottom: 0, $height: 4px);

      background-color: var(--color-accent);
      border-radius: 2px;

      transform: scaleX(1);
    }
  }
}

.contacts-list {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    // margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    // margin-left: auto;
  }
}

.contacts-list__item {
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.contacts-list__link {
  display: block;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--color-second);

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--color-accent);
  }

  @media screen and (min-width: 768px) {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts-list__icon {
  margin-right: 10px;
  fill: var(--color-second);

  transition: fill 250ms var(--timing-function);

  .contacts-list__link:hover &,
  .contacts-list__link:focus & {
    fill: var(--color-accent);
  }
}
