.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--background-footer);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/studio/hero/hero.jpg);
}

.hero__title {
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-logo-footer);

  animation-duration: 1500ms;
}

.hero__btn {
  @include flex();
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;

  background-color: var(--color-accent);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;

  letter-spacing: 0.06em;
  color: var(--color-logo-footer);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  cursor: pointer;

  transition: background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background: #188ce8;
  }
}
