.services {
  padding-bottom: 94px;

  .section-title {
    margin-bottom: 50px;
  }
}

.services__list {
  display: flex;
  justify-content: space-between;
}

.services__item {
  position: relative;
}

.services__box {
  @include position($left: 0, $bottom: 0, $height: 70px);
  @include flex();

  background-color: rgba(47, 48, 58, 0.8);
}

.services__desc {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--color-logo-footer);
}
