:root {
  --text-main: "Roboto", sans-serif;
  --text-logo: "Raleway", sans-serif;

  --color-logo-header: #000000;
  --color-logo-footer: #ffffff;
  --color-accent: #2196f3;
  --color-main: #212121;
  --color-second: #757575;
  --color-footer-link: rgba(255, 255, 255, 0.6);
  --color-footer-social-link: rgba(255, 255, 255, 0.1);
  --color-icon: #afb1b8;

  --background-second: #f5f4fa;
  --background-footer: #2f303a;
  --background-project-accent: rgba(33, 150, 243, 0.9);

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
}
